[submodule "auth-service"]
	path = auth-service
	url = https://github.com/Felix-Vita/auth-service.git
[submodule "loan-applications-service"]
	path = loan-applications-service
	url = https://github.com/Felix-Vita/loan-applications-service.git
[submodule "report-service"]
	path = report-service
	url = https://github.com/juanmiloz/report-service.git
	branch = main
